# Editor
.nova

# macOS
.DS_Store

# Rust
target

# Local execution files
*.env
*.log

# Scenario files
**/scenarios/ephemeral-scenarios.txt
**/scenarios/*-*/
**/scenarios/*/prosody/data
**/scenarios/*/prosody/config/*
**/scenarios/*/coredns
**/scenarios/*/*.zone
**/scenarios/*/*.sqlite
**/scenarios/*/*.db
!**/scenarios/**/.gitkeep
!**/scenarios/**/.gitignore
