# Do not ignore default scenario files
!default/
!default/**
!fresh/
!fresh/**

# Except API data
*.sqlite
*.db

# Include everything from demo scenarios
!demo/
!demo/**

# Always ignore temporary data
**/prosody.cfg.lua
