name: prose-pod-api-local
services:
  api:
    image: "${PROSE_POD_API_IMAGE:-proseim/prose-pod-api:${PROSE_POD_API_IMAGE_TAG:-unknown}}"
    depends_on:
      - server
      - coredns
      - mailpit
    ports:
      - "8080:8080"
    volumes:
      - "${DATABASE_PATH:?}:/var/lib/prose-pod-api/database.sqlite"
      # NOTE: `prose.toml` cannot be read-only because we need to
      #   override it when doing a factory reset (and only then).
      - "${PROSE_CONFIG_FILE:?}:/etc/prose/prose.toml"
      - "${ETC_PROSODY_DIR:?}:/etc/prosody/"
    networks:
      prose-network:
        aliases:
          - prose-pod-api
    env_file: "${ENV_FILE:?}"
    dns: 172.20.0.42
    # Make sure logs are colored.
    tty: true

  # https://github.com/prose-im/prose-pod-server
  server:
    image: "${PROSE_POD_SERVER_IMAGE:-proseim/prose-pod-server:${PROSE_POD_SERVER_IMAGE_TAG:-unknown}}"
    volumes:
      - "${ETC_PROSODY_DIR:?}:/etc/prosody/"
      - "${VAR_LIB_PROSODY_DIR:?}:/var/lib/prosody/"
      # NOTE: `prose.toml` cannot be read-only because we need to
      #   override it when doing a factory reset (and only then).
      - "${PROSE_CONFIG_FILE:?}:/etc/prose/prose.toml"
    ports:
      - "5222:5222"
      - "5269:5269"
      - "5280:5280" # DO NOT EXPOSE THIS IN PRODUCTION
      - "5281:5281"
      - "8082:8080" # DO NOT EXPOSE THIS IN PRODUCTION
    networks:
      prose-network:
        aliases:
          - prose-pod-server
          - "prose.${SERVER_DOMAIN:?}"
        ipv4_address: 172.20.0.40
        ipv6_address: 2001:db8::40
    # env_file: "${ENV_FILE:?}"
    environment:
      RUST_LOG: debug,prose_pod_server_api=trace,prosodyctl=trace,ureq=debug,ureq_proto::client=info,ureq::pool=info
    # entrypoint: >
    #   sh -c "cp /usr/share/prose/prosody.bootstrap.cfg.lua /etc/prosody/prosody.cfg.lua && prosody"
    # Make sure logs are colored.
    tty: true

  # https://github.com/prose-im/prose-pod-dashboard
  dashboard:
    profiles: [dashboard]
    image: "${PROSE_POD_DASHBOARD_IMAGE:-proseim/prose-pod-dashboard:${PROSE_POD_DASHBOARD_IMAGE_TAG:-unknown}}"
    depends_on: [api]
    ports:
      - "8081:8080"
    networks: [prose-network]
    tty: "${PROSE_POD_DASHBOARD_IS_TTY:-${PROSE_POD_IS_TTY:-false}}"

  # https://github.com/coredns/coredns
  coredns:
    image: coredns/coredns:latest
    volumes:
      - ${COREDNS_COREFILE:?}:/etc/coredns/Corefile:ro
      - ${DNS_ZONE_FILE:?}:/etc/coredns/zones.db:ro
    command: ["-conf", "/etc/coredns/Corefile"]
    networks:
      prose-network:
        ipv4_address: 172.20.0.42
    # Make sure logs are colored.
    tty: true

  # https://github.com/axllent/mailpit
  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "8025:8025" # Web UI
    volumes:
      - "${MAILPIT_DATABASE_PATH:?}:/var/lib/mailpit/database.db"
    environment:
      MP_SMTP_AUTH_ALLOW_INSECURE: true
      MP_SMTP_BIND_ADDR: 0.0.0.0:587
      MP_DATABASE: /var/lib/mailpit/database.db
    networks:
      prose-network:
        aliases:
          - mailpit
    # Make sure logs are colored.
    tty: true

  # https://github.com/open-telemetry/opentelemetry-collector
  otel-collector:
    image: otel/opentelemetry-collector:0.122.1
    profiles: [telemetry]
    volumes:
      - ${OTEL_CONFIG_FILE:?}:/etc/otelcol/config.yaml:ro
    networks:
      prose-network: {}
    # Do not show logs in the console.
    attach: false

networks:
  prose-network:
    name: prose-pod-net-local
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: 172.20.0.0/24
        - subnet: 2001:db8::/64
